**Using this template**

1. Change notebook title to assignment title you working on, eg. `Graded Challenge 1 or Milestone 1`
2. Put your identity such as name and batch number below notebook title.
3. Write your description before do any work. State your purpose of this assignment and what you are trying to achieve. 
4. Look at the rubric of this assignment and make sure you understand the criteria.
5. Code your solution in the cell provided below the working area section.
6. State your conlusions, findings, and any other relevant information in the cell provided below the conclusions sections.
7. Save this notebook and rename it to assignment title you working on  eg. `Graded Challenge 1 or Milestone 1`
8. Push your assignment before deadline.
9. Good Luck!

# Graded Challenge 1

`Pratama Waskito Prihandana - FTDS Batch 003`

## Description

### Problem Statement

`In this assignment, I will ________`

### Objective

`In this assignment, I will ________`

## Working Area

```txt
Here, I will show you the steps to achieve the objectives.
```

### Importing Libraries

First, I need to import the libraries that I will use which is numpy and pandas as the following :

In [3]:
import numpy as np
import pandas as pd

### Data Loading

I drew the data from BigQuery located at bigquery-public-data.covid19_jhu_csse_eu.summary, then I collected data using the following SQL query :

    SELECT province_state, country_region, confirmed, deaths,
    FROM bigquery-public-data.covid19_jhu_csse_eu.summary
    WHERE lower(country_region) = "india"'

After that I exported into .csv format and upload it to Github repository then I assign a variable to the dataframe as "df".

In [13]:
df = pd.read_csv("covid_india.csv")

In [8]:
# Let's see if the dataframe is successful :

df

      province_state country_region  confirmed   deaths
0        West Bengal          India    1537890  18291.0
1        West Bengal          India     597634  10355.0
2        West Bengal          India     713780  10825.0
3        West Bengal          India    1564883  18716.0
4        West Bengal          India     568103  10115.0
...              ...            ...        ...      ...
33564            NaN          India      29451    939.0
33565            NaN          India        657     12.0
33566            NaN          India     106475   3302.0
33567            NaN          India      11487    393.0
33568            NaN          India     265928   7473.0

[33569 rows x 4 columns]